body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    max-width: 100%;
    overflow-x: hidden;
}

.titulo {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #e02a39;
    font-family: 'Dancing Script', cursive; 
}

.mensaje {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.imagen-container {
    width: 100%;
    height: 400px; /* Ajusta la altura según sea necesario */
    background-size: cover; 
    background-position: center;
    border-radius: 10px;
}

.imagen-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Ajustes para pantallas pequeñas (celulares) */
@media screen and (max-width: 600px) {
    .titulo {
        font-size: 1.8em; /* Reduce el tamaño en móviles */
    }
    .mensaje {
        font-size: 1em;
    }
    .imagen-container img {
        width: 90%; /* Evita que la imagen ocupe toda la pantalla */
    }
}

